function mini_execute {
    local DLIST=$(get_dependencies gcc )
    for i in $DLIST; do
	add_to_list DEP_BUILT $i
    done
    build_module_recursive tor
}